[Desktop Entry]
Name=Pong
Comment=Simple Pong game on SDL
Comment[ru]=Простая реализация Pong на SDL
Exec=/app/bin/pong
TryExec=/app/bin/pong
Icon=pong
Terminal=false
Type=Application
Categories=Game
Keywords=Game;Pong;
